<h1> Survey</h1>

<form action="/" method="post">
Name: <input type="text" name="name" placeholder="name"/><br>

<form action="/" method="post">
	<br>
Dojo Location: <select name="Contact[email_provider]">
  <option></option>
  <option>San Francisco</option>
  <option>San Diego</option>
  <option>Santa Barbara</option>
</select>
<br>
<br>

favorite language: <select name="Contact[email_provider]">
  <option></option>
  <option>Ruby</option>
  <option>Java</option>
  <option>PhP</option>
</select>
<br>
<br>


<textarea name="description"></textarea>
<br>
<input type="submit" value="Submit" />
</form>
